wb-spring/springStudy/selfXSD/src/main/resources/META-INF/selfxsd.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://hhzxhx.com/schema/selfxsd"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://hhzxhx.com/schema/selfxsd"
            elementFormDefault="qualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"></xsd:import>

    <xsd:element name="userConfig">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:int"></xsd:attribute>
            <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>